---
import { Image } from "astro:assets";
import abstractVector from "/src/assets/images/abstract-vector2.png";
import { Button } from "./ui/button";
---

<section
  id="cta"
  class="relative flex min-h-[154px] w-full min-w-full items-center bg-[#466CB2] p-4 sm:p-0"
>
  <div class="absolute inset-0 z-0">
    <Image
      src={abstractVector}
      alt=""
      class="h-full w-full object-cover"
      quality="max"
      loading="lazy"
    />
  </div>

  <div class="relative z-10 mx-auto w-full max-w-[960px] px-4">
    <div
      class="flex flex-col items-center gap-6 sm:flex-row sm:items-center sm:justify-between"
    >
      <h3
        class="text-center font-domine text-[32px] font-normal leading-normal text-white sm:text-left sm:text-[48px]"
      >
        Ready to work together?
      </h3>

      <Button variant="secondary" size="lg">
        <a href="/contact">Contact Us</a>
      </Button>
    </div>
  </div>
</section>
