---
import { LOGO_IMAGE, SITE } from "@/config";
import Hr from "./Hr.astro";

export interface Props {
  activeNav?: "about" | "sbm" | "work" | "contact";
}

const { activeNav } = Astro.props;
---

<header
  class="fixed left-0 right-0 top-0 z-50 h-auto min-h-20 bg-white/90 backdrop-blur-md sm:h-[100px]"
>
  <a
    id="skip-to-content"
    href="#main-content"
    class="absolute -top-full left-16 z-50 bg-skin-accent px-3 py-2 text-skin-inverted transition-all focus:top-4"
  >
    Skip to content
  </a>
  <div class="mx-auto h-full max-w-[960px]">
    <div class="flex h-full flex-col sm:flex-row sm:items-end sm:justify-end">
      <div
        class="relative flex w-full flex-col p-4 sm:flex-row sm:items-center sm:pb-1 sm:pt-0"
      >
        <div class="flex w-full items-center justify-between">
          <a
            href="/"
            class="whitespace-nowrap py-1 text-xl font-semibold sm:text-2xl"
          >
            {
              LOGO_IMAGE.enable ? (
                <img
                  src={`/assets/${LOGO_IMAGE.svg ? "logo.svg" : "logo.png"}`}
                  alt={SITE.title}
                  width={LOGO_IMAGE.width}
                  height={LOGO_IMAGE.height}
                />
              ) : (
                SITE.title
              )
            }
          </a>
          <button
            class="hamburger-menu focus-outline p-2 sm:hidden"
            aria-label="Open Menu"
            aria-expanded="false"
            aria-controls="menu-items"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="menu-icon h-6 w-6 scale-125 fill-skin-base"
            >
              <line
                x1="7"
                y1="12"
                x2="21"
                y2="12"
                class="line transition-opacity duration-75 ease-in-out"></line>
              <line
                x1="3"
                y1="6"
                x2="21"
                y2="6"
                class="line transition-opacity duration-75 ease-in-out"></line>
              <line
                x1="12"
                y1="18"
                x2="21"
                y2="18"
                class="line transition-opacity duration-75 ease-in-out"></line>
              <line x1="18" y1="6" x2="6" y2="18" class="close opacity-0"
              ></line>
              <line x1="6" y1="6" x2="18" y2="18" class="close opacity-0"
              ></line>
            </svg>
          </button>
        </div>
        <nav
          class="mt-4 flex w-full flex-col items-center sm:ml-2 sm:mt-0 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0"
        >
          <ul
            id="menu-items"
            class="hidden w-full flex-col items-center space-y-4 sm:ml-0 sm:mt-0 sm:flex sm:w-auto sm:flex-row sm:space-x-5 sm:space-y-0"
          >
            <li class="w-full text-center sm:w-auto">
              <a
                href="/about/"
                class={`block px-4 py-3 font-medium hover:text-skin-accent sm:inline-block sm:px-2 sm:py-1 ${activeNav === "about" ? "underline decoration-wavy decoration-2 underline-offset-4" : ""}`}
              >
                About
              </a>
            </li>
            <li class="w-full text-center sm:w-auto">
              <a
                href="/sbm/"
                class={`block px-4 py-3 font-medium hover:text-skin-accent sm:inline-block sm:px-2 sm:py-1 ${activeNav === "sbm" ? "underline decoration-wavy decoration-2 underline-offset-4" : ""}`}
              >
                SBM
              </a>
            </li>
            <li class="w-full text-center sm:w-auto">
              <a
                href="/work/"
                class={`block px-4 py-3 font-medium hover:text-skin-accent sm:inline-block sm:px-2 sm:py-1 ${activeNav === "work" ? "underline decoration-wavy decoration-2 underline-offset-4" : ""}`}
              >
                Work
              </a>
            </li>
            <li class="w-full text-center sm:w-auto">
              <a
                href="/contact/"
                class={`block px-4 py-3 font-medium hover:text-skin-accent sm:inline-block sm:px-2 sm:py-1 ${activeNav === "contact" ? "underline decoration-wavy decoration-2 underline-offset-4" : ""}`}
              >
                Contact
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<style>
  .menu-icon.is-active .line {
    opacity: 0;
  }
  .menu-icon.is-active .close {
    opacity: 1;
  }
</style>

<script>
  function toggleNav() {
    const menuBtn = document.querySelector(".hamburger-menu");
    const menuIcon = document.querySelector(".menu-icon");
    const menuItems = document.querySelector("#menu-items");

    menuBtn?.addEventListener("click", () => {
      const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
      menuIcon?.classList.toggle("is-active");
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu"
      );
      menuItems?.classList.toggle("hidden");
    });
  }

  toggleNav();

  document.addEventListener("astro:after-swap", toggleNav);
</script>
