---
import LinkButton from "./LinkButton.astro";
import { Image } from "astro:assets";
import abstractVector from "/public/assets/abstractVector.png";
import { Button } from "./ui/button";
---

<section
  id="hero"
  class="relative min-h-[calc(734px+var(--header-height))] w-full min-w-full"
>
  <div class="absolute inset-0 z-0">
    <Image
      src={abstractVector}
      alt=""
      class="h-full w-full object-cover"
      quality="max"
      loading="eager"
      priority
    />
  </div>

  <div
    class="relative z-10 mx-auto max-w-[960px]"
    style="padding-top: calc(var(--header-height) + 160px)"
  >
    <div class="max-w-[826px] bg-white/80 p-8">
      <h1
        class="font-domine text-[32px] font-normal leading-[200%] text-[#0D2B46]"
      >
        Strategy & technology solutions that help our clients solve their most
        important challenges
      </h1>
      <div class="mt-8 flex gap-4">
        <Button variant="outline" size="lg">
          <a href="/contact">Get in Touch</a>
        </Button>
        <Button variant="default" size="lg">
          <a href="/sbm">State Based Marketplace Solutions</a>
        </Button>
      </div>
    </div>
  </div>
</section>
